@charset "UTF-8";

html {
    font-size: 100%;
}

/*common*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #22577a;
}

ul {
    list-style-type: none;
}

img {
    min-width: 100%;
}

/*header*/

header {

    padding: 16px 0;
    /* position: fixed; */
    top: 0;
    width: 100%;
    background: #000;
    /* transition: background-color .3s, box-shadow .3s; */
    
}

h1 {
    display: block;
    
}

h1 > a {
    color: #22577a;
    text-decoration: none;
    font-size: 1.6rem;
}

h2 {
    display: inline-block;
    font-size: 2rem;
    /* background:linear-gradient(transparent 70%, #f895aa 40%); */
    background: linear-gradient(transparent 50%, #a8eaff 50%);
    margin-bottom: 48px;
}

#top-menu {
    display: flex;
    justify-content: space-between;
}

.top-content {
    display: flex;
}

.top-content li p {
    display: block;
    width: 160px;
    background: #22577a;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 8px;
}

.top-content li:hover {
    cursor: pointer;
    opacity: .7;
}

/*container*/
.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/*main*/

#main-v {
    text-align: center;
    margin-bottom: 32px;
}

#main-v img {
    object-fit: cover;
    height: 500px;
}

#menu {
    text-align: center;

}

.contents > ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.contents > ul > li img {
    width: 300px;
}
/*footer*/

#footer p {
    text-align: center;
}